extends layout

block content
	h1 Hello Boulder!

	//- We'll listen for clicks to add new numbers
	button#update-numbers Get New Number
	
	//- New button that adds 5 numbers
	button#update-numbers-five Get Five New Number

	//- Where to stick the list of numbers
	ul#numbers