doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled

	body
		block content
		
		//- Load in jQuery
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")

		//- Our own script file
		script(src="/main.js")