doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="main.css")
		title Untitled

	body
		block content
		

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js")
	script(src="main.js")